*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #777;
  line-height: 1.5;
 
}
.section-header{
  margin-bottom: 20px;
}
.section-header h3{
  font-family: Roboto Slab;
font-size: 40px;
position: relative;
display: inline-block;
}
.section-header h3::after{
  content: "";
  bottom: -5px;
  height: 3px;
  background-color: #E84118;
  width: 100%;
  position: absolute;
 left: 0px;
  
  
  border-radius: 25px;
}

.section-padding{
  padding: 120px 0;
}
.full-width{
  width: 100%;
}
.primary{
  color: #e84118;
}

.margin-left{
margin-left: auto;
}
header{
  width: 100%;
  position: fixed;
  z-index: 100;
}
.overlay{
  background-color: rgb(0, 0, 0,0.8);
}
.navbar{
  padding: 25px 0px !important;
}
nav a,nav a:hover{
  color: #fff;
}

li.nav-item a.nav-link{
  position: relative;
  display: inline-block;
  
}
li.nav-item a.nav-link::after{
  content: "";
  bottom: -5px;
  height: 2px;
  background-color: #fff;
  width: 0%;
  position: absolute;
 left: 0px;
  transition: all 0.3s ease;
}
li.nav-item.active a.nav-link::after{
  width: 100%;
  }
  li.nav-item a.nav-link:hover::after{
      width: 100%;
  }
  .navbar-nav .nav-item .nav-link{
      color:#fff !important;
      margin-right: 10px;
  }
  button:focus{
      outline: none;
  }
  .main{
    width: 100%;
background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 100vh;
    position: relative;
    clip-path: polygon(0% 0%,100% 0,100% 90%,50% 100%,0% 90% )
}
.main::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.7);
}
.main-content{
  z-index: 1;
}
.welcome{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.type{
  font-size: 60px;
  margin-top: 20px;
}

.about-h3{
margin-bottom: 20px;
color: #E84118;
font-family: Roboto Slab;
font-size: 40px;
position: relative;
display: inline-block;
}
.about-h3::after{
  content: "";
  bottom: -5px;
  height: 3px;
  background-color: #E84118;
  width: 0%;
  position: absolute;
 left: 0px;
  transition: all 0.3s ease;
  
  border-radius: 25px;

}
.about-h3:hover::after{
  width: 100%;
}
.second-row{
  margin-top: 50px !important;
}
.about-para{
  font-size: 15px !important;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  color:rgb(124, 121, 121);
  margin-top: -20px;
}
.about-list{
  font-size: 15px !important;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  color:rgb(124, 121, 121);
  font-weight: bold !important;
  margin-top: 20px;
}
.about-list ul li{
  margin-bottom: 10px;
}
.mypara{
  margin-left: 40px;
  margin-top: 10px;
}
.social-icons{
  text-align: left;
  margin-top: 30px;
}
.social-icons a{
padding: 10px 15px;
background-color: #E84118;
border-radius: 50%;
margin-right: 10px;
color: #fff;
text-decoration: none;
}
.social-icons .fiver{
  padding: 10px 15px;
background-color: #E84118;
border-radius: 80% !important;
margin-right: 10px;
color: #fff;
text-decoration: none;
}

.fiver:hover,.social-icons a:hover{
  color: #E84118;
  background-color: #fff;
  border: 1px solid #E84118;
}
.img-container{

  text-align: right;

  padding-right: 40px !important;
}
.skills{
  position: relative;
  clip-path: polygon(0% 0%,100% 0,100% 90%,50% 100%,0% 90% );
  height: 110vh;
  background-image: url(../src/img/bg.jpg);
  z-index: 1;
 
}
.skills::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.8);
  z-index: -1;
}
.skills-h3{
  margin-bottom: 70px;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 40px;
  position: relative;
  display: inline-block;
  margin-top: 60px;
  }
  .skills-h3::after{
    content: "";
    bottom: -5px;
    height: 4px;
    background-color: #fff;
    width: 100%;
    position: absolute;
   left: 0px;
    transition: all 0.3s ease;
    
    border-radius: 25px;
  
  }.mycard h2{
    color: #fff;
    margin-bottom: 35px;
    font-family: Roboto Slab;
    font-size: 30px;
    text-align: center;
display: inline-block;
position: relative;
  }
  
  .mycard h2::after{
    content: "";
    bottom: -5px;
    height: 4px;
    background-color: #fff;
    width: 100%;
    position: absolute;
   left: 0px;
    transition: all 0.3s ease;
    
    border-radius: 25px;
  }
  
  .mycard{
    width: 60%;
    
    border-radius: 30px;
    padding:10px 20px;
    padding-bottom: 40px;
    
  }
  
 
  .progress-content{
    width: 100%;
    height: 20px;
    background-color: rgb(0, 0, 0,0.7);
    border-radius: 20px;
    margin-bottom: 20px;
}
.skills ul{
  list-style: none;
}
.skill-progress1{
    height: 100%;
    background: #fff;
    border-radius: 20px;
   width: 0%;
    position: relative;
    transition: all .7s ease-in;
    border: none;
}
.mycard ul li h6{
  font-family: 'Poppins', sans-serif;
  color:rgb(168, 168, 168);
}


.skill-progress1::before{
  content: attr(data-progress);
  position: absolute;
  top:-50px;
  right: -7px;
  background-color: #fff;
  font-size: 12px;
  padding: 8px 10px;
  border-radius: 50%;
}
.skill-progress1::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top:-17px;
  right:6px;
  border-right:4px solid transparent;
  border-left: 4px solid transparent;
  border-top:8px solid #fff
}
.swiper-pagination-bullet-active{
  background-color: #fff !important;
 
}
.swiper-pagination-bullet{
  background-color: #777 !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.nav-tabs {
  background-color: #fff !important;
  
    border-bottom:none !important;

}


.nav-tabs .nav-item .nav-link::after{
  content: "";
  bottom: -5px;
  height: 4px;
  background-color: #E84118;
  width: 0%;
  position: absolute;
  left: 0px;
 
  transition: all 0.3s ease;
  
  border-radius: 25px;
}
.nav-tabs .nav-item .nav-link:hover::after{
  width: 100%;
}
.nav-tabs .nav-item .active{
  
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none;
  color: #e84118 !important;
  position: relative;
  display: inline-block;
  
}
.nav-tabs .nav-item .active::after{
  content: "";
  bottom: -5px;
  height: 4px;
  background-color: #E84118;
  width: 100%;
  position: absolute;
  left: 0px;
  border-radius: 25px;
 
}

.nav-tabs .nav-item .nav-link{
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none;
  color: #777 ;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-family: Poppins;
}

.services{
  width: 100%;
  background: url(./img/background5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
    position: relative;
    margin-top: -80px;
    
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100% );
/*     
    clip-path: polygon(0% 0%,50% 7%,100% 0%,100% 100%,0% 100% ); */
}
.services::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color:rgb(0, 98, 102,0.9);
  z-index: -1;
}
.services-h3{
  color: #fff;
  font-family: Roboto Slab;
  font-size: 40px;
 position: relative;
 display: inline-block;
 margin-top: 40px;
}
.services-h3::after{
  content: "";
  bottom: -5px;
  height: 4px;
  background-color: #E84118;
  width: 100%;
  position: absolute;
  left: 0px;
  border-radius: 25px;
}
.service-description{
  font-family: Poppins;
  color: #777 ;
}.service-content{
  margin-top: 60px;
  z-index: 10;
  width: 100%;
}
.service-single{
  border: 1px solid #ddd;
  background-color: #fff;
 padding: 30px 5px;
 box-shadow: 0 0 10px rgb(0, 0, 0,0.3);
 transition: all .3s ease;
 border-radius: 5px;
 margin-bottom: 20px;
 position: relative;
}.card{
  margin-bottom: 30px ;
  transition: all .3s ease;
  box-shadow: 0 0 10px rgb(0, 0, 0,0.3);
  border: 1px solid transparent !important;
  position: relative;
  background-color: #fff;
  
}
.card :hover .service-name::after{
  width: 100%;
}
.card:hover{
  transform: scale(1.1);
  background-color: #333 !important;

}
.service-single:hover{
  background-color: #333;
  border: 1px solid #333;
  
}
.card:hover .service-name{
color: #ddd;
}
.card:hover .icon-container .service-icon{
  transform: scale(1.2);
  background-color: #fff;
  color: #333;
}
.card:hover .icon-container .service-icon i{
  transform: rotate(360deg);
}
.service-single:hover .service-name::after{
  width: 100%;
}

.icon-container .service-icon{
  background-color: #E84118;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  
}
.icon-container{
 
  margin-top: -45px;
  
  
}
.service-name{
  font-family: Roboto Slab;
    font-size: 25px;
    margin:30px 0px;
    color: #E84118;
    position: relative;
    display: inline-block;
}
.service-name::after{
  content: "";
  bottom: -5px;
  height: 4px;
  background-color: #ddd;
  width: 0%;
  position: absolute;
  left: 0px;
  border-radius: 25px;
  transition: all .3s ease;
}

.contact{
  background: url(../src/img/background4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ddd;
  position: relative;
  z-index: 12;
}
.contact h3{
  color: #fff;
 
  font-family: Roboto Slab;
  font-size: 40px;
 position: relative;
 display: inline-block;

}
.contact h3::after{
  content: "";
  bottom: -5px;
  height: 4px;
  background-color: #E84118;
  width: 100%;
  position: absolute;
  left: 0px;
  border-radius: 25px;
}
.contact-form,.contact-top{
  margin-top: 60px;
}
input,textarea{
  width: 100%;
  margin-bottom: 40px !important;
  color:#ddd;
  border: 1px solid #ddd;
  background-color: rgb(0, 0, 0,0);
}
input:not([type="submit"]){
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
textarea{
  padding-top: 10px;
  padding-left: 40px;
}

#submit{
  width: auto;
  margin: 0 auto;
  max-width: 50%;
  padding:8px 60px;
  position: relative;
}
#submit:hover{
  background-color: #E84118;
  border: 1px solid #E84118;
}
.contact-location .fa{
  margin-right: 20px;
  margin-bottom: 5px;
}
.contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(47, 54, 67,0.85);
  z-index: -5;
  
}
footer{
  background-color: #E84118;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  padding:10px 0px;
}
strong{
  font-family: Roboto Slab;
  margin-right: 5px;
}

.item-content img{
  width: 100%;
  transition: all .5s ease;
  transform: scale(1)rotate(0deg);
}
.portfolio-item .col-md-3 img{
  height: 200px;
}
.portfolio-item .col-md-6 img{
  height: 200px;
}
.item-content{
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  
}
.portfolio .container .row ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  z-index: 1;
}
.portfolio .container .row ul li a{
  text-decoration: none;
  color: white;
  
  background-color: #333;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;

}
.active-tab{
  background-color: #e84118 !important;
}
.portfolio .container .row ul li{
  margin-right: 10px;
}
.show{
  opacity: 1;
  display: flex;
}
.hide{
  opacity: 0;
  display: none;
}
.img-overlay{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  content: '';
  overflow: hidden;
  /* background-color: #fff;
  color: #333; */
}
.img-overlay::before{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(80, 75, 75, 0.8);
  content: '';
  left: -110%;
  top: 0;
  transition: all 0.3s ease;
}

.portfolio-item .info{
  z-index: 2;
}
.portfolio-item .info .description{
  color: #fff;
  opacity: 0;
  font-family: Poppins;
}
.portfolio-item:hover .info .description,.item-icon i{
  opacity: 1;
}
.portfolio-item:hover .img-overlay::before{
  left: 0;
}
.item-icon i{
  color: white;
  opacity: 0;
}
.Design{
  position: absolute;
  top: 0;
}
.Work-container{
  position: relative;
}
.WebDevelopment{
  position: absolute;
  top: 0;
}
.portfolio{
  background: url('../src/img/portfolio/bg1.jpg');
  color: #fff;
  position: relative;
  width: 100%;
  
}
.portfolio::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.7);
}

.portfolio-item:hover .item-content img{
  transform: scale(1.2)rotate(10deg);
}
.portfolio-container{
  position: relative;
}
@media (max-width:991px){
    
  .navbar-nav li.nav-item{
      text-align: center;
      margin: 15px 0px;
  }
  header{
      background-color: rgb(0, 0, 0,0.8);
  }
  
}

